<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grupo Enlace</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/resources/theme/css/bootstrap.min.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Grupo enlace</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#acercaDe">Acerca de</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form th:action="@{/welcome}" th:object="${formData}" method="post">
        <br class="starter-template">
            <h1>Bienvenido/a a Grupo Enlace</h1>
            <hr>
            <h2>Seleccione su usuario</h2>

            <div class="starter-template">
                <select th:field="*{selectedUserId}"  id="dropUsers">
                    <option th:each="User : *{users}" th:value="${User.id}" th:text="${User.name}"></option>
                </select>
            </div>
            </br>
            <div class="blockInfo">
            <button name="sendForm" value="enviar">Continuar</button>
            </div>
    </form>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="/resources/theme/js/bootstrap.min.js"></script>

</body>
</html>